.input {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.input-btn {
    display: flex;
    gap: 40px;
}
button {
    background-color: rgb(247, 115, 247) !important;
    color: rgb(234, 234, 234);
}
button:hover {
    background-color: white !important;
    color: black;
}
textarea {
    resize: none;
}